In [100]:
print("Welcome to ExcelR!")

Welcome to ExcelR!

In [101]:
"hello"

'hello'

In [102]:
120/12*2-4

16.0

In [103]:
(5-2)*10

30

In [104]:
marks=80
marks

80

In [105]:
type(marks)

int

In [106]:
5**4

625

In [107]:
price=50.5
price # only shows output of last line

50.5

In [108]:
price=50.5
print(price) # to see intermediate line's output use print() function
type(price)

50.5

float

In [109]:
name="Amol"
type(name)

str

In [110]:
dir(str) # all methods that can be applied on strings
# __ dunder/magic methods (double underscore methods which python uses internally)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [111]:
str1="welcome to Data Science."
str1.capitalize()

'Welcome to data science.'

In [112]:
str1.upper()

'WELCOME TO DATA SCIENCE.'

In [113]:
str1.lower()

'welcome to data science.'

In [114]:
str1.title()

'Welcome To Data Science.'

In [115]:
food="bIrYAni"
name="AmOl"
print(food.swapcase())
name.swapcase()

BiRyaNI

'aMoL'

In [116]:
s1="My name is Amol."
print(s1.split()) # list of strings is created
s2="Mumbai-Pune-Mumbai"
s2.split("-")

['My', 'name', 'is', 'Amol.']

['Mumbai', 'Pune', 'Mumbai']

In [117]:
mail="amoldongare006@gmail.com"
mail.split("@")

['amoldongare006', 'gmail.com']

In [118]:
s1.replace("Amol","Jyoti")

'My name is Jyoti.'

In [119]:
# single line comment
'''
multiline comment
'''

'\nmultiline comment \n'

In [120]:
city="Satara"
city.count("a")

3

In [121]:
"Satara".count("a")

3

In [122]:
name="Raj"
name*4

'RajRajRajRaj'

In [123]:
n1=5
n1*5

25

In [124]:
name="Amol"
surname="Dongare"
name + surname # concatenates without space

'AmolDongare'

In [125]:
name + " " +surname

'Amol Dongare'

In [126]:
# Conditional Statement
a=30
b=20
if a>b:
  print("a is greater")
  print("In True block")
  c=a+b
  print(c)
else:
  print('b is greater')
  print("In False block")
  c=a*b
  print(c)

a is greater
In True block
50

In [127]:
a=200
b=30
if(a>b):
  print(a,"is greater")
else:
  print("Greatest number is:",b)

200 is greater

In [128]:
salary=15000
if (salary>20000):
  tax=0.25
  print("Hello from true if")
else:
  tax=0.20
  print("Hello from false if / else")
print("Bye... outside of if block")
net_sal=salary-tax*salary
print("Net Salary=",net_sal)
# change value of salary as 15000 and execute again

Hello from false if / else
Bye... outside of if block
Net Salary= 12000.0

In [129]:
range(5,10)

range(5, 10)

In [130]:
# For Loop
for number in range(5,10): # Print numbers from 5 to 9. Default increment is 1.
  print(number)
print("Bye")

5
6
7
8
9
Bye

In [131]:
# print numbers 1 to 10


for i in range(1,11,1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [132]:
# Q1. print all even numbers from 1 to 20
# Q2. print all odd numbers from 1 to 20

In [133]:
# 'break' statement terminates the loop when condition is satisfied
for i in range(1,11):
    if i==5:
       print("Same")
       break
    else:
        print(i)

1
2
3
4
Same

In [134]:
for num in range(11): # 0 to 9
  print(num, num*num) # num and its square

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [135]:
# range(start,stop,step)
for i in range(1,30,5):
  # print(i)
  print(i,"@")

1 @
6 @
11 @
16 @
21 @
26 @

In [136]:
subject="Science"
for letter in subject:
  print(letter)

S
c
i
e
n
c
e

In [137]:
# print name 3 times on first line, 4 times on 2nd, 5 - 3rd, 6 - 4th line. Range(3,7)

name="Snehal"
for i in range(3,7):
  print(name*i)

SnehalSnehalSnehal
SnehalSnehalSnehalSnehal
SnehalSnehalSnehalSnehalSnehal
SnehalSnehalSnehalSnehalSnehalSnehal

In [138]:
# print each letter of movie on separate line
# change case of each letter (upper to small and small to upper) of movie on single line with seperator ~
movie="Drishyam"
for letter in movie:
  #print(letter)
  #print(letter.swapcase())
  print(letter.swapcase(),end=" # ") #try upper(), lower(),"-","#",etc. Default end parameter is 'new line'

d # R # I # S # H # Y # A # M #

In [139]:
# Print all even and odd numbers between given range using For Loop
for i in range(1, 11):
    if i % 2 == 0:
        print('Even Number:', i)
    else:
        print('Odd Number:', i)

Odd Number: 1
Even Number: 2
Odd Number: 3
Even Number: 4
Odd Number: 5
Even Number: 6
Odd Number: 7
Even Number: 8
Odd Number: 9
Even Number: 10

In [140]:
# Print all even and odd numbers between given range using For Loop
print('Even Numbers:')
for i in range(1, 11):
  if i % 2 == 0:
    print(i)

print('Odd Numbers:')
for i in range(1,11):
  if i%2!=0: # != not equal to
    print(i)

Even Numbers:
2
4
6
8
10
Odd Numbers:
1
3
5
7
9

In [141]:
status1=True
type(status1)
status2=False
type(status2)

bool

In [142]:
# print each letter 4 times with separator as space
for letter in "Data Science":
  print(letter*4,end=" ")

DDDD aaaa tttt aaaa      SSSS cccc iiii eeee nnnn cccc eeee

In [143]:
len("My name")

7

In [144]:
len("Snehal")

6

In [145]:
# Data Structure: 1.LIST
# Lists are mutable.
# created using square brackets []
marks=[40,55,70,60,80,85,78]
marks

[40, 55, 70, 60, 80, 85, 78]

In [146]:
type(marks)

list

In [147]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [148]:
len(marks)

7

In [149]:
new_marks=sorted(marks) # creates new sorted list. Original marks list remains unchanged
new_marks

[40, 55, 60, 70, 78, 80, 85]

In [150]:
marks

[40, 55, 70, 60, 80, 85, 78]

In [151]:
marks.sort() # original list is sorted in ascending order by default
marks

[40, 55, 60, 70, 78, 80, 85]

In [152]:
marks.append() # Append will add element in the last only.
marks

TypeError: ignored

In [153]:
marks.reverse()

In [154]:
marks

[85, 80, 78, 70, 60, 55, 40]

In [155]:
marks2=[42,64,50,78,87,80]

In [156]:
marks2.sort(reverse=True) # sorts in descending order when reverse=True
marks2

[87, 80, 78, 64, 50, 42]

In [157]:
marks3=[40,60,50,70,80,85]
marks3.sort(reverse=False)

In [162]:
marks3

[40, 50, 60, 70, 80, 85]

In [163]:
marks

[85, 80, 78, 70, 60, 55, 40]

In [164]:
90 in marks # checks whether 90 is present in list or not. IF yes returns True, else False

False

In [165]:
85 in marks

True

In [166]:
list1=[10,20,30]
list2=[40,50,60]
list1 + list2 # concatenation of two lists

[10, 20, 30, 40, 50, 60]

In [167]:
(list1+list2)*3 # repeats 3 times

[10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60]

In [168]:
# List of Strings
list3=["Mango","Apple","Banana","Pineapple","Custard Apple","Strawberry"]
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [169]:
# Display fruits by changing case of all fruits to uppercase
for fruit in list3:
  #print(fruit.upper()) # in sigle line: print(fruit.upper(),end=" ")
  #print(fruit.upper(),end=" ")
  print(fruit.replace("u","a"), end=" ")

Mango Apple Banana Pineapple Castard Apple Strawberry

In [170]:
# In Python Indexing starts with 0
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [171]:
list3[0]

'Mango'

In [172]:
list3.count("Banana")

1

In [174]:
list3[6] # raise erro as index is upto 5 only (0 to 5)

IndexError: ignored

In [175]:
list3[5]

'Strawberry'

In [176]:
# Slicing
list3[0:4] # 0,1,2,3

['Mango', 'Apple', 'Banana', 'Pineapple']

In [177]:
# from Apple to Strawberry i.e. till end
list3[1:]# or list3[1:6]

['Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [178]:
# from beginning to Pinaapple
list3[:4]

['Mango', 'Apple', 'Banana', 'Pineapple']

In [179]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [180]:
# Negative indexing: -1 refers to last element
list3[-1]

'Strawberry'

In [181]:
list3[-3]

'Pineapple'

In [182]:
list3[-6]

'Mango'

In [183]:
# start stop step in slicing
print(list3)
list3[::2] # 0,2,4,6

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

['Mango', 'Banana', 'Custard Apple']

In [184]:
n1=[1:31] # to create list of 1 to 30 - will raise error

SyntaxError: ignored

In [185]:
n1=list(range(1,31))
print(n1,end=" ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [186]:
n1[::4]

[1, 5, 9, 13, 17, 21, 25, 29]

In [187]:
# print nos from index 2 to 26 with step value of 5
n1[2:27:5]

[3, 8, 13, 18, 23]

In [188]:
print(list3, end=" ")

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [189]:
list3[::-1]

['Strawberry', 'Custard Apple', 'Pineapple', 'Banana', 'Apple', 'Mango']

In [190]:
list3[::-2] # step value is -2

['Strawberry', 'Pineapple', 'Apple']

In [191]:
# use of 'in' keyword: search substring in given word
'the' in 'Netherland'

True

In [192]:
'The' in 'Netherland'

False

In [193]:
'therer' in 'Netherland'

False

In [194]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [195]:
list3.append("Mulberry")

In [196]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry']

In [197]:
list3.remove("Mulberry") # removes mentioned element

In [198]:
# display fruits which contain substring as 'berry' using for loop
for fruit in list3:
  if 'berry' in fruit:
    print(fruit)

Strawberry

In [199]:
# display fruits which contain substring as 'pple' using for loop
for fruit in list3:
  if 'pple' in fruit:
    print(fruit)

Apple
Pineapple
Custard Apple

In [200]:
list3.append("Black berry")

In [201]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Black berry']

In [202]:
# Create list4 of fruits from list3 having only 'berry' as substring and store remaining fruits in list5
list4=[]
list5=[]
for fruit in list3:
  if 'berry' in fruit:
    list4.append(fruit)
  else:
    list5.append(fruit)
print(list4,end=" ")
print(list5,end=" ")

['Strawberry', 'Black berry'] ['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [203]:
# print squares of all numbers of list1 to list2
l1=[2,3,4,5,6]
l2=[]
for i in l1:
  l2.append(i**2) # OR l2.append(i*i)
print(l1,end=" ")
print(l2,end=" ")

[2, 3, 4, 5, 6] [4, 9, 16, 25, 36]

In [204]:
# List comprehension - makes your code compact
l1=[2,3,4,5,6]
l2=[i**2 for i in l1]
print(l1,end=" ")
print(l2,end=" ")

[2, 3, 4, 5, 6] [4, 9, 16, 25, 36]

In [205]:
list3
list3.append("Black berry")

In [206]:
# extract fruit names containing substring 'berry' using List comprehension
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Black berry',
 'Black berry']

In [207]:
newlist=[fruit for fruit in list3 if 'berry' in fruit]

In [208]:
print(newlist, end=" ")

['Strawberry', 'Black berry', 'Black berry']

In [209]:
newlist1=[fruit for fruit in list3 if 'berry' not in fruit]

In [210]:
newlist1

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [211]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Black berry',
 'Black berry']

In [212]:
list3.index('Mango')

0

In [213]:
list3.index('Black berry')

6

In [214]:
list3.index('Orange') # will raise error as item is not present in the list

ValueError: ignored

In [215]:
# index 2 item was banana which is replaced by Orange
# Lists are mutable - you can replace items of list
list3[2]="Orange"
list3

['Mango',
 'Apple',
 'Orange',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Black berry',
 'Black berry']

In [216]:
# Data Structure: 2.TUPLE
# Tuples are not mutable i.e. immutable
# created using round brackets ()
t1=(1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [217]:
type(t1)

tuple

In [218]:
t1[0]

1

In [220]:
t3=t1 + (6,7,8,9,10)

In [221]:
t3

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [222]:
dir(t1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [224]:
t1.count(1)

1

In [225]:
t1.index(4)

3

In [226]:
t2=(1,1,1,2,2,6,6,6,6,6)

In [227]:
t2.count(6)

5

In [228]:
# indexing and slicing with tuple is same as list
# extracting elements of tuple
t1[2]

3

In [229]:
t1

(1, 2, 3, 4, 5)

In [230]:
t1[1:5]

(2, 3, 4, 5)

In [231]:
# Data Structure: 3.Dictionary
# Dictionaries are used to store data values in "key:value pairs".
# A dictionary is a collection which is ordered, changeable and do not allow duplicates.
# Dictionaries are written with curly brackets {"Key":"Value"}, and have keys and values.
# Here, keys are unique identifiers that are associated with each value.:

capital_dict={"Nepal": "Kathmandu", "Italy": "Rome", "England": "London"}
print(capital_dict)

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

In [232]:
type(capital_dict)

dict

In [233]:
dir(capital_dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [234]:
# access element of dictionary
capital_dict["England"]

'London'

In [235]:
# keys() method extracts the keys of the dictionary and returns the list of keys as a view object.
keys=capital_dict.keys()
keys

dict_keys(['Nepal', 'Italy', 'England'])

In [236]:
capital_dict.keys()

dict_keys(['Nepal', 'Italy', 'England'])

In [237]:
# The values() method returns a view object that displays a list of all the values in the dictionary.
values=capital_dict.values()
values

dict_values(['Kathmandu', 'Rome', 'London'])

In [238]:
# The items() method returns a view object that displays a list of dictionary's (key, value) tuple pairs.
items=capital_dict.items()
items

dict_items([('Nepal', 'Kathmandu'), ('Italy', 'Rome'), ('England', 'London')])

In [239]:
# The update() method updates the dictionary with the elements from another dictionary object or from an iterable of key/value pairs.
add_capital={"India": "New Delhi","abc":"xyz"}
capital_dict.update(add_capital)

In [240]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [241]:
capital_dict.update({"Australia":"Sydney"}) # capital of Australia is Canberra
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz',
 'Australia': 'Sydney'}

In [242]:
# The pop() method removes and returns an element from a dictionary having the given key.
capital_dict.pop("Australia")

'Sydney'

In [243]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [244]:
capital_dict['abc']=("Mumbai")

In [245]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'Mumbai'}

In [246]:
capital_dict.popitem()

('abc', 'Mumbai')

In [247]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi'}

In [248]:
# Keys can be of different data type
mylist=["Mango","Orange","Strawberry","Banana","Mulberry","Black berry"]

In [249]:
mytuple=(20,53,45,78,89,65,97)

In [250]:
mydict={"A":mylist,
        "B":mytuple,
        "C":capital_dict
       }
mydict

{'A': ['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry'],
 'B': (20, 53, 45, 78, 89, 65, 97),
 'C': {'Nepal': 'Kathmandu',
  'Italy': 'Rome',
  'England': 'London',
  'India': 'New Delhi'}}

In [251]:
mydict['A']

['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry']

In [252]:
mydict['C']

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi'}

In [253]:
mydict['A'][3] #index 0 1 2 3, 3rd element = banana

'Banana'

In [254]:
mydict['C']['India']

'New Delhi'

In [255]:
# Math functions: can import specific functions or all using *
sqrt(25) # raise error as you have not imported

NameError: ignored

In [256]:
from math import sqrt
sqrt(25)

5.0

In [257]:
factorial(5)

NameError: ignored

In [258]:
from math import factorial
factorial(5)

120

In [259]:
sin(90)

NameError: ignored

In [260]:
from math import sin,cos,tan

In [ ]:
tan(45)

In [261]:
from math import *
l2=[5,2,3]
prod(l2)

30

In [262]:
# OR you can say 'import math'
# But while calling any function you have to use math.Function_Name()
# The math.prod() method returns the product of the elements from the given iterable.
import math # or 'import math as mt', mt.sqrt(64 )
sequence = (2, 2,5,6) # iterable where elements are given
print(math.prod(sequence))

120

In [263]:
import math
l1=[2,3,4]
math.prod(l1)

24

In [264]:
dir(math) # all functions of math library

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']